{% extends "polls/base.html" %}

{% block content %}
    <div class="dash-wrapper">
        <p class="dash-title">Class results for {{quiz.title_text}}</p>
        <div class="stats-wrapper">
            <h3>Class average on {{quiz.title_text}} was {{class_results.average|floatformat:2}}</h3>
        </div>
        <div class="stats-wrapper">
            <h3>Lowest score on {{quiz.title_text}} was {{class_results.low_grade|floatformat:2}}</h3>
        </div>
        <div class="stats-wrapper">
            <h3>Highest score on {{quiz.title_text}} was {{class_results.high_grade|floatformat:2}}</h3>
        </div>
    </div>
{% endblock %}
