{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel = "stylesheet" type="text/css" href="{% static 'polls/login_style.css' %}" />

<header>
    <nav class="navbar-custom navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">A Better Quiz App</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <form id="logout-btn" class="navbar-form form-inline pull-right" action="/accounts/logout/" method="post">
              {% csrf_token %}
              <button type="submit" class ="btn">Log Out</button>
          </form>

        </ul>
      </div><!-- /.container-fluid -->
    </nav>
</header>
<h1>{{ quiz.title_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for question in quiz.question_set.all %}
  <p> {{ question.question_text }} </p>
  <form>
  {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice.{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{choice.choice_text}}</label></br>
  {% endfor %}
  </form>
{% endfor %}

