{% extends 'polls/base.html' %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel = "stylesheet" type="text/css" href="{% static 'polls/index_style.css' %}" />
{% endblock %}


{% block content %}
     <div class="dash-wrapper">
       <h1 id="dash-header"> Quiz App Dashboard </h1>
       {% if latest_quiz_list %}
       <ul>
         {% for quiz in latest_quiz_list %}
         <li>
             <a href="{% url 'polls:detail' quiz.id %}">
                 {{ quiz.title_text }}
             </a>
         </li>
         {% endfor %}
       </ul>
       {% else %}
       <p> You have no quizzes yet! </p>
       {% endif %}
    </div>
{% endblock %}
