* { margin:0; padding:0; box-sizing:border-box; }
html *{font-family: SansSerif, sans-serif;}

/*Needed for persistent navbar*/
body { padding-top: 50px; }

/*Used for the background image*/
.site-wrapper{
    z-index: 0;
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #757575;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

/*Used to set aspect ratio of quiz div*/
.aspect-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.dash-wrapper{
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: black;
    border-radius: 25px 25px 25px 25px;
    z-index: 5;
}

#dash-header{
    color: white;
    padding-left: auto;
}

.quiz-list{
    color: white
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 3%;
}


/* NAVBAR RELATED ELEMENTS*/
.btn{
    background-color: rgba(1,1,1,1);
    color: white;
}
.btn:focus,
.btn:hover{
    color: #0fac09;
}
.navbar-custom {
  background-color: rgba(1,1,1,1);
}
.navbar-custom .navbar-nav>li>a {
  color: #fff;
}
.navbar-custom .navbar-nav>li>a:focus,
.navbar-custom .navbar-nav>li>a:hover {
  color: #CCCCCC;
}
.navbar-custom .navbar-brand {
    color: #fff;
}
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover {
    color: yellow;
}
/**/
