html *{
    font-family: SansSerif, sans-serif;
}
h1 {
    color: white;
    background-color: darkblue;
    border-radius: 25px 25px 0px 0px;
    padding: 5px;
}

dt {
    color: white;
    text-align: center;
    background-color: darkgreen;
    border-radius: 25px 25px 25px 25px;
    padding: 5px 5px 0px 0px;
}

dd{
    background-color: beige;
    border: black;
    border-radius: 0px 0px 25px 25px;
    padding: 5px;
}

a {
    text-align: center;
}

div{
    background-color: beige;
    padding: 0px 0px 5px 0px;
    border-radius: 25px 25px 25px 25px;
}